version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "08:00"
    labels:
      - "release:patch"
    groups:
      npm:
        patterns:
          - "*"
